    
    * {
      font-family: quicksand, Arial, Helvetica, sans-serif;

    }
    
    
    /* NAVBAR CUSTOMISATION */
    
    .navbar-toggler{
      background-color: #f9c3d3;
    }




    /* JUMBOTRON CUSTOMISATION */
    .jumbotron {
      background-image: url('/images/EA06.jpg.PNG');
      background-size: cover; 
      color: #6c6869; 
      opacity: calc(0.8);
    }

    .small-lead{
      font-size: 14px;
      color: #fffdfd;
    }

    .custom-button {
      background-color: #da1d5f; 
      color: #fff;
      border: none;
    }
    .custom-button:hover {
      background-color: #da6284; 
    }




    /* ABOUT ME CUSTOMISATION */
    .display-4 {
      color: #da1d5f; 
    }
    .lead {
      font-size: 14px;
      color: #6c6869;
    }




    /* WORK CUSTOMISATION */
    .work-item {
      text-align: center; 
      margin-bottom: 20px; 
    }

    .project-title{
      color: #da6284;
    }



    /* ART CUSTOMISATION */
    .gallery-item {
      transition: transform 0.2s;
      overflow: hidden;
    }

    .gallery-item img {
      border-radius: 6px;
    }

    .gallery-item:hover {
      opacity: 0.8; 
      transform: scale(1.05); 
    }



    /* CONTACT CUSTOMISATION */
    footer {
    background-color: #f8f9fa; 
    padding: 50px;
    text-align: center; 
  }

