    /* NAVBAR CUSTOMISATION */
    .navbar {
      background-color: rgb(232, 171, 238); 
    }
  
    .navbar a {
      color: #fff; 
    }


    /* JUMBOTRON CUSTOMISATION */
    .jumbotron {
      background-image: url('/images/EA03.jpg.png');
      background-size: cover; 
      color: #000000; 
      opacity: calc(0.8);
    }


    /* ABOUT ME CUSTOMISATION */
    .display-4 {
      color: #3498db; /* Change title color */
    }
    .lead {
      font-size: 20px; /* Change font size for lead paragraph */
    }




    /* WORK CUSTOMISATION */
    .work-item {
      text-align: center; /* Center-align the content within each work item */
      margin-bottom: 20px; /* Add spacing between work items */
    }



    /* ART CUSTOMISATION */
    .gallery-item {
      transition: transform 0.2s;
      overflow: hidden;
    }

    .gallery-item img {
      border-radius: 6px;
    }

    .gallery-item:hover {
      opacity: 0.8; 
      transform: scale(1.05); 
    }

